@charset "UTF-8";
head, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Exo";
  background-color: #ecf0f1;
  min-width: 1100px; }

@font-face {
  font-family: "Bellota";
  src: url("./font/Bellota-Regular.otf"); }
@font-face {
  font-family: "Franchise";
  src: url("./font/Franchise-Free-Bold.otf"); }
@font-face {
  font-family: "Onramp";
  src: url("./font/ONRAMP.ttf"); }
@font-face {
  font-family: "Exo";
  src: url("./font/Exo-Regular.otf"); }
header {
  width: 100%;
  font-family: "Exo"; }
  header #title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1%; }
  header #home_msg {
    text-align: center;
    margin-bottom: 2%;
    font-size: 1.2em; }

#container {
  width: 100%;
  height: 100%; }

.keyboard {
  display: inline;
  text-align: left;
  width: 55%;
  height: 100%;
  font-size: 1.1rem; }
  .keyboard .arrow, .keyboard .numpad, .keyboard .arrow_home, .keyboard .main, .keyboard .result {
    display: inline-block; }
  .keyboard .kb_up, .keyboard .main {
    margin: 0.5% 1%; }
  .keyboard .numpad, .keyboard .output {
    margin-left: 4%; }
  .keyboard table td {
    text-align: center;
    width: 50px;
    height: 50px;
    border: solid 1px black;
    cursor: pointer;
    background-color: #7f8c8d;
    color: #EEEEEE; }
    .keyboard table td:hover {
      background-color: #27ae60; }
    .keyboard table td span {
      display: none; }
  .keyboard .kb_up {
    text-align: center;
    height: 55%;
    width: 99%; }
  .keyboard .kb_down {
    text-align: center;
    width: 100%; }
    .keyboard .kb_down .main table {
      border-spacing: 2px 1px;
      width: 700px; }
      .keyboard .kb_down .main table #space {
        width: 318.18182px; }
  .keyboard .empty {
    border: none;
    background-color: #ecf0f1;
    cursor: default; }
    .keyboard .empty:hover {
      background-color: #ecf0f1;
      cursor: default; }
  .keyboard .output {
    display: inline-block;
    width: 50%; }
    .keyboard .output span {
      float: left;
      display: block;
      width: 65%;
      text-align: left;
      margin: 1%;
      margin-left: 4%;
      font-size: 1.1em; }
    .keyboard .output .span-btn {
      width: 22%;
      text-align: center;
      float: right;
      border: solid 1px black;
      padding: 0.5% 0;
      cursor: pointer;
      background-color: #bdc3c7;
      margin-right: 4.6%; }
      .keyboard .output .span-btn:active {
        position: relative;
        top: 1px;
        left: 1px; }
    .keyboard .output #reset {
      width: 10%;
      float: left;
      margin-left: 4.6%;
      margin-right: 0; }
    .keyboard .output .result {
      width: 90%;
      height: 250px;
      background-color: grey;
      border: solid 1px black;
      margin-bottom: 0.5%;
      margin-left: 0;
      color: #ffffff;
      cursor: default; }
      .keyboard .output .result:focus {
        outline: none; }
  .keyboard .savedKey {
    color: red; }

@media (min-width: 1500px) {
  .kb_down {
    width: 50% !important;
    float: left;
    margin-top: 5%; } }
#menu {
  display: inline-block; }
  #menu .img-list {
    min-width: 200px;
    max-width: 85%;
    margin: 0 auto; }
  #menu input + label > img {
    height: 112.5px;
    width: 150px;
    display: table;
    cursor: pointer;
    box-sizing: border-box;
    border: solid 2px lightgray;
    opacity: 0.7; }
  #menu img {
    /*http://stackoverflow.com/a/17945428/3560404 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("./img/others/workbench.jpg") repeat 0 0, url("./img/others/workbench.jpg") repeat 0 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url("./img/others/workbench.jpg") repeat 0 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.7))), url("./img/others/workbench.jpg") repeat 0 0;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url("./img/others/workbench.jpg") repeat 0 0;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url("./img/others/workbench.jpg") repeat 0 0;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url("./img/others/workbench.jpg") repeat 0 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url("./img/others/workbench.jpg") repeat 0 0;
    -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    /* Hack IE8 */
    filter: alpha(opacity=25);
    /* Hack IE 5-7 */
    -webkit-transition: opacity 0.5s ease-in-out;
    /* transition pour Chrome et Safari */
    -moz-transition: opacity 0.5s ease-in-out;
    /* transition pour Firefox */
    -o-transition: opacity 0.5s ease-in-out;
    /* transition pour Opéra */
    transition: opacity 0.5s ease-in-out; }
  #menu input {
    display: none; }
    #menu input + label > img:hover {
      border: solid 2px #7f8c8d;
      opacity: 0.8;
      /* opacite au survol */
      -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=90)";
      /* Hack IE 8 */
      filter: alpha(opacity=90);
      /* Hack IE 5-7 */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0, url("./img/others/workbench.jpg") repeat 0 0;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.1))), url("./img/others/workbench.jpg") repeat 0 0;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0;
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0;
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0; }
    #menu input:checked + label > img {
      border: solid 2px #27ae60;
      opacity: 1;
      /* opacite au survol */
      -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=90)";
      /* Hack IE 8 */
      filter: alpha(opacity=90);
      /* Hack IE 5-7 */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0, url("./img/others/workbench.jpg") repeat 0 0;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.1))), url("./img/others/workbench.jpg") repeat 0 0;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0;
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0;
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("./img/others/workbench.jpg") repeat 0 0; }
  #menu ul {
    list-style-type: none; }
  #menu li {
    display: inline-block; }
  #menu .img-list {
    text-align: center; }
  #menu form {
    width: auto; }
  #menu span, #menu p {
    margin-left: 5%;
    font-size: 1.2em; }
  #menu #selectedkey {
    margin: 0; }
  #menu #selectdiv {
    width: 65%;
    display: inline-block; }
  #menu #resetdiv {
    display: inline-block; }
  #menu .toggle-btn {
    width: 100%;
    margin-bottom: 1%; }
  #menu #customText span, #menu #customText #customTextArea {
    display: inline;
    vertical-align: middle; }

@media (min-width: 1500px) {
  #menu {
    width: 50%;
    float: right; } }
footer {
  width: 100%;
  text-align: center;
  margin: 3% 0;
  font-size: 1.15em; }

/*# sourceMappingURL=main.css.map */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font: 71%/1.5 Verdana, Sans-Serif;
  background: #eee;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  display: block;
  width: 100%;
}
h1 {
  text-align: center;
  font-family: "Open Sans",Arial,"Lucida Grande",sans-serif;
  font-size: 300%;
  margin-top: 25px;
}
#menu {
  font-family: "Open Sans",Arial,"Lucida Grande",sans-serif;
  font-size: 15px;;
  display: inline-block;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 5px;
  width: 45%;
  padding-left: 1%;
  padding-right: 1%;
  /*float: left;*/
  /*height: 440px;*/
  padding-bottom: 0.5%;
  position: relative;
}
#menu fieldset {
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 1%;
  /*width: 15%;*/
}
#menu legend {
  padding-left: 0.5%;
  padding-right: 0.5%;
}
#menu p {
  margin: 0.8%;
}

/*Weapons list*/

/*End weapons list*/

#selectedkey {
  font-size: 15px;
  font-weight: bold;
  color: green;
}
#container {
  display: inline-block;
  margin: 50px auto;
  margin-left: 5%;
  /*width: 688px;*/
  width: 45%;
  float: left;

}
#write {
  margin: 0 0 5px;
  padding: 5px;
  /*width: 671px;*/
  width: 84.5%;
  height: 200px;
  font: 1em/1.5 Verdana, Sans-Serif;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 15px;
}
#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
}
#keyboard li {
  float: left;
  margin: 0 0.6% 0.6% 0;
  width: 5%;
  height: 5%;
  line-height: 350%;
  text-align: center;
  background: greenyellow;
  border: 1px solid green;
  color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.capslock, .tab, .left-shift {
  clear: left;
}
#keyboard .tab, #keyboard .delete {
  width: 10%;
}
#keyboard .capslock {
  width: 10.8%;
}
#keyboard .return {
  width: 10%;
}
#keyboard .left-shift {
  width: 13.8%;
}
#keyboard .right-shift {
  width: 13%;
}

#keyboard .ctrl {
  width: 7%;
}
#keyboard .ctrl-left {
  clear: left;
  width: 7%;
}
.fkey {
  width: 125.2%;
}
.lastitem {
  margin-right: 0;
}
.uppercase {
  text-transform: uppercase;
}
#keyboard .space {
  /*clear: left;*/
  width: 39%;
}
.on {
  display: none;
}
#keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: darkgreen;
  cursor: pointer;
}
#selected {
  background-color: black;
}

#keyboard .arrow li {
  width: 7%;
}
#keyboard .empty {
  border: 0;
  width: 7.3% !important;
}
#keyboard .arrow .symbol span {
  display: none;
}

#keyboard .arrow .kp_empty {
  width: 55.5% !important;
  border: 0;
}

#kp_0 {
  margin-left: 0.9% !important;
  width: 15% !important;
}
#kp_1  {
  margin-left: 0.9% !important;
}
hr {
  margin: 1% 0;
}

.horizontal_sep {
  visibility: hidden;
  clear: both;
}

#warning_info {
  position: absolute;
  top : 3%; 
  right: 2.7%; 
}
#warning_info img {
  text-align: center;
  vertical-align: middle;
  margin-left: 45%;
}
#warning_info_text {
  position: absolute;
  top : 3%; 
  right: 2.7%;
}
#version {
  margin-top: 0;
  margin-bottom: -2%;
}
#version_title {
  margin-top: 0;
  color: red;
  text-decoration: underline;
}
#version_text {
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 1%;
}

